body{ 
    background-color: pink
}
h1{
  color: purple
  
}
h1{
    text-align: justify;
    font-style: italic;
    
}
h2{
   text-align: left;
}
h3{
    font-size: x-large;
    font-style: normal;
    text-align: left;
    text-decoration: dotted;
    
}




